.main-dashboard{
    width: 100vw;
    height: 90vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 65% 1fr;
    gap: 10px;
    padding: 10px;
}
.left-message{
    width: 100%;
    height: 100%;
    border: 0.1px solid rgba(192, 192, 192, 0.349);
    border-radius: 7px;
    padding: 10px;

}
.right-dashboard{
    display: flex;
    flex-direction: column;
    gap: 10px;
     width: 100%;
    height: 100%;
    border: 0.1px solid rgba(192, 192, 192, 0.349);
    border-radius: 7px;
    padding: 10px;
}
.left-dashboard{
    width: 100%;
    height: 100%;
    border: 0.1px solid rgba(192, 192, 192, 0.349);
    border-radius: 7px;
    padding: 10px;
}
.middle-dashboard{
    width: 100%;
    height: 100%;
    border: 0.1px solid rgba(192, 192, 192, 0.349);
    border-radius: 7px;
    padding: 10px;
}
.welcome-message{
    display: grid;
    grid-template-columns: 80% 1fr;
    gap: 10px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    border-radius: 7px;
}
.welcome-message .left-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;
    width: 100%;
    background: rgba(225,225,225,0.1);
    color: #f1f1f1;
    backdrop-filter: blur(40px);
    border-radius: 7px;
    padding: 10px;
}
.welcome-message .left-message h1{
    font-size: 2.4rem;
    font-weight: 700;
    background: linear-gradient(50deg, #45d9c9, #84b3c7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.welcome-message .left-message p{
    font-style: italic;
}
.right-message{
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    overflow: hidden;
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(40px);
}
.right-message img{
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .main-dashboard{
        grid-template-columns: 1fr;
    }
    .left-dashboard{
        width: 100%;
        height: 50vh;
        overflow-y: scroll;
    }
    .welcome-message{
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .welcome-message .left-message{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}